# Secrets
.env
# .env.*
*.key
*.pem

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

# OS clutter
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Data
data/raw/*
data/processed/*
data/final/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/final/.gitkeep

# DuckDB
*.duckdb
*.duckdb.wal

# Notebook output
# *.ipynb